{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <h1 class="h4 mb-3">Change password</h1>
    <form method="post" class="card card-body">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="mb-3">
        <label class="form-label" for="cp">Current password</label>
        <input class="form-control" id="cp" name="current_password" type="password" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="np">New password (min. 10 characters)</label>
        <input class="form-control" id="np" name="new_password" type="password" minlength="10" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="cf">Confirm new password</label>
        <input class="form-control" id="cf" name="confirm_password" type="password" minlength="10" required>
      </div>
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
  </div>
</div>
{% endblock %}
